﻿@Code
    ViewData("Title") = "Modal"
    Layout = "~/Views/Shared/_MainLayout.vbhtml"
End Code

<h2>Modal</h2>



<br />
<br />
<br />


@ViewBag.Path 



<a href="@Url.Action("ExportReport2","Quotation")">
    <button>
        Get Report here
    </button>
</a>