/*
* Zetta Menu JS 1.1.4
* Copyright 2014, nK
* 11 August 2014
*/
/*

====================== INSPIRE THEME ======================

*/
/*

====================== MAIN ====================== 

*/
.zetta-menu {
  background-color: #20598B;
  padding: 0 5px;
  margin: 0;
  display: inline-block;
  position: relative;
}
.zetta-menu:before,
.zetta-menu ul,
.zetta-menu li,
.zetta-menu div,
.zetta-menu a,
.zetta-menu label,
.zetta-menu input,
.zetta-menu textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  list-style: none;
}
.zetta-menu a {
  cursor: pointer;
}
.zetta-menu h1,
.zetta-menu h2,
.zetta-menu h3,
.zetta-menu h4,
.zetta-menu h5,
.zetta-menu h6 {
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 15px 0;
  color: #9fbcc2;
  border-bottom: 1px solid #9fbcc2;
}
.zetta-menu.zm-full-width {
  display: block;
}
.zetta-menu.zm-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.zetta-menu.zm-fixed.zm-position-left {
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
}
.zetta-menu.zm-fixed.zm-position-right {
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
}
.zetta-menu.zm-fixed.zm-position-bottom {
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
}
.zetta-menu,
.zetta-menu a,
.zetta-menu a:visited {
  color: #ffffff;
}
.zetta-menu > li {
  display: block;
  vertical-align: top;
  float: left;
  height: 50px;
}
.zetta-menu > li.zm-right-item {
  margin-right: 0;
  float: right;
}
.zetta-menu > li > a {
  font-weight: normal;
  padding: 0 20px;
  line-height: 50px;
}
.zetta-menu > li:hover,
.zetta-menu > li.zm-active,
.zetta-menu > li.zm-opened {
  background-color: #9fbcc2;
}
.zetta-menu > li:hover > a,
.zetta-menu > li.zm-active > a,
.zetta-menu > li.zm-opened > a,
.zetta-menu > li:hover > a:visited,
.zetta-menu > li.zm-active > a:visited,
.zetta-menu > li.zm-opened > a:visited {
  color: #20598B;
}
.zetta-menu li {
  position: relative;
  cursor: default;
}
.zetta-menu li > a {
  text-decoration: none;
  display: block;
}
.zetta-menu li > ul,
.zetta-menu li > div {
  z-index: 1;
}
.zetta-menu.zm-position-left > li,
.zetta-menu.zm-position-right > li {
  position: relative !important;
}
.zetta-menu.zm-position-left > li,
.zetta-menu.zm-position-right > li,
.zetta-menu.zm-position-left > li.zm-logo,
.zetta-menu.zm-position-right > li.zm-logo {
  float: none;
}
.zetta-menu.zm-position-left > li > a .zm-caret,
.zetta-menu.zm-position-right > li > a .zm-caret {
  float: right;
}
.zetta-menu .fa {
  font-size: 12pt;
  letter-spacing: 13px;
  line-height: inherit;
}
.zetta-menu .zm-caret {
  letter-spacing: 0;
  float: right;
  margin-left: 15px;
}
.zetta-menu > li > a .zm-caret {
  float: none;
}
.zetta-menu .zm-single-icon {
  letter-spacing: 0;
}
.zetta-menu:after {
  content: '';
  display: block;
  clear: both;
}
.zetta-menu li,
.zetta-menu li > a,
.zetta-menu input,
.zetta-menu textarea,
.zetta-menu .zm-button {
  -webkit-transition: color 0.35s, background-color 0.35s, -webkit-box-shadow 0.35s, width 0.35s, text-shadow 0.35s;
  -moz-transition: color 0.35s, background-color 0.35s, -moz-box-shadow 0.35s, width 0.35s, text-shadow 0.35s;
  -ms-transition: color 0.35s, background-color 0.35s, box-shadow 0.35s, width 0.35s, text-shadow 0.35s;
  -o-transition: color 0.35s, background-color 0.35s, box-shadow 0.35s, width 0.35s, text-shadow 0.35s;
  transition: color 0.35s, background-color 0.35s, box-shadow 0.35s, width 0.35s, text-shadow 0.35s;
}
/* 

====================== LOGO ======================

*/
.zetta-menu > li.zm-logo {
  float: left;
  margin-left: 0;
  font-size: 0;
}
.zetta-menu > li.zm-logo a {
  padding: 0;
  line-height: 0;
}
.zetta-menu > li.zm-logo img {
  max-width: 100%;
  max-height: 100%;
  border: none;
}
/* 

====================== MENU DROP DOWN ======================

*/
.zetta-menu ul,
.zetta-menu div.zm-multi-column {
  position: absolute;
  display: none;
}
.zetta-menu ul {
  padding: 5px 0;
}
.zetta-menu ul > li {
  min-height: 50px;
}
.zetta-menu ul > li a {
  padding: 0 20px;
  line-height: 50px;
}
.zetta-menu > li > ul,
.zetta-menu > li > ul ul,
.zetta-menu .zm-multi-column,
.zetta-menu .zm-multi-column > ul ul {
  background-color: #20598B;
  color: #ffffff;
  -webkit-box-shadow: inset 0px 0px 1px 1px #2D76B6;
  -moz-box-shadow: inset 0px 0px 1px 1px #2D76B6;
  box-shadow: inset 0px 0px 1px 1px #2D76B6;
}
.zetta-menu > li > ul li > a,
.zetta-menu > li > ul ul li > a,
.zetta-menu .zm-multi-column li > a,
.zetta-menu .zm-multi-column > ul ul li > a,
.zetta-menu > li > ul li > a:visited,
.zetta-menu > li > ul ul li > a:visited,
.zetta-menu .zm-multi-column li > a:visited,
.zetta-menu .zm-multi-column > ul ul li > a:visited {
  color: #ffffff;
}
.zetta-menu > li > ul li:hover,
.zetta-menu > li > ul ul li:hover,
.zetta-menu .zm-multi-column li:hover,
.zetta-menu .zm-multi-column > ul ul li:hover,
.zetta-menu > li > ul li.zm-opened,
.zetta-menu > li > ul ul li.zm-opened,
.zetta-menu .zm-multi-column li.zm-opened,
.zetta-menu .zm-multi-column > ul ul li.zm-opened {
  background-color: #2D76B6;
}
.zetta-menu > li > ul li:hover > a,
.zetta-menu > li > ul ul li:hover > a,
.zetta-menu .zm-multi-column li:hover > a,
.zetta-menu .zm-multi-column > ul ul li:hover > a,
.zetta-menu > li > ul li.zm-opened > a,
.zetta-menu > li > ul ul li.zm-opened > a,
.zetta-menu .zm-multi-column li.zm-opened > a,
.zetta-menu .zm-multi-column > ul ul li.zm-opened > a,
.zetta-menu > li > ul li:hover > a:visited,
.zetta-menu > li > ul ul li:hover > a:visited,
.zetta-menu .zm-multi-column li:hover > a:visited,
.zetta-menu .zm-multi-column > ul ul li:hover > a:visited,
.zetta-menu > li > ul li.zm-opened > a:visited,
.zetta-menu > li > ul ul li.zm-opened > a:visited,
.zetta-menu .zm-multi-column li.zm-opened > a:visited,
.zetta-menu .zm-multi-column > ul ul li.zm-opened > a:visited {
  color: #9fbcc2;
}
.zetta-menu > li > ul,
.zetta-menu > li > div.zm-multi-column {
  top: 100%;
  left: 0;
}
.zetta-menu > li > ul ul,
.zetta-menu > li > div.zm-multi-column ul {
  top: 0;
  left: 100%;
}
.zetta-menu > li > ul ul.zm-drop-left,
.zetta-menu > li > div.zm-multi-column ul.zm-drop-left {
  left: auto;
  right: 100%;
}
.zetta-menu.zm-position-bottom > li > ul,
.zetta-menu.zm-position-bottom > li > div.zm-multi-column {
  top: auto;
  bottom: 100%;
  left: 0;
}
.zetta-menu.zm-position-bottom > li > ul ul,
.zetta-menu.zm-position-bottom > li > div.zm-multi-column ul {
  top: auto;
  bottom: 0;
  left: 100%;
}
.zetta-menu.zm-position-bottom > li > ul ul.zm-drop-left,
.zetta-menu.zm-position-bottom > li > div.zm-multi-column ul.zm-drop-left {
  left: -100%;
}
.zetta-menu.zm-position-left > li > ul,
.zetta-menu.zm-position-left > li > div.zm-multi-column {
  top: 0;
  left: 100%;
}
.zetta-menu.zm-position-left > li > ul ul.zm-drop-left,
.zetta-menu.zm-position-left > li > div.zm-multi-column ul.zm-drop-left {
  top: 0;
  left: 100%;
}
.zetta-menu.zm-position-right > li > ul,
.zetta-menu.zm-position-right > li > div.zm-multi-column {
  top: 0;
  left: auto;
  right: 100%;
}
.zetta-menu.zm-position-right > li > ul ul.zm-drop-left,
.zetta-menu.zm-position-right > li > div.zm-multi-column ul.zm-drop-left {
  top: 0;
  left: auto;
  right: 100%;
}
.zetta-menu.zm-position-right > li > ul ul,
.zetta-menu.zm-position-right > li > div.zm-multi-column > ul ul {
  top: 0;
  left: auto;
  right: 100%;
}
.zetta-menu li:hover > ul,
.zetta-menu li:hover > div.zm-multi-column,
.zetta-menu li:hover > div.zm-multi-column > ul {
  display: block;
}
.zetta-menu li > div.zm-multi-column > ul,
.zetta-menu.zm-position-bottom li > div.zm-multi-column > ul {
  left: 0;
  float: left;
}
.zetta-menu > li > div.zm-multi-column > ul {
  position: relative;
  display: inline-block;
}
.zetta-menu > li.zm-right-align > ul,
.zetta-menu > li.zm-right-align > div.zm-multi-column {
  left: auto;
  right: 0;
}
.zetta-menu.zm-position-left > li.zm-right-align > ul,
.zetta-menu.zm-position-left > li.zm-right-align > div.zm-multi-column {
  left: 100%;
  right: auto;
}
.zetta-menu.zm-position-left > li.zm-right-align > ul,
.zetta-menu.zm-position-left > li.zm-right-align > div.zm-multi-column {
  right: 100%;
}
/*

====================== CONTENT DROP DOWN ======================

*/
.zetta-menu > li.zm-content-full {
  position: static;
}
.zetta-menu > li.zm-content-full > div {
  width: 100%;
}
.zetta-menu > li.zm-content > div,
.zetta-menu > li.zm-content-full > div {
  position: absolute;
  display: none;
  left: 0;
  padding: 15px 20px;
  background-color: #20598B;
  color: #ffffff;
  -webkit-box-shadow: inset 0px 0px 1px 1px #2D76B6;
  -moz-box-shadow: inset 0px 0px 1px 1px #2D76B6;
  box-shadow: inset 0px 0px 1px 1px #2D76B6;
}
.zetta-menu > li.zm-content > div ul,
.zetta-menu > li.zm-content-full > div ul {
  display: block;
  position: relative;
  min-width: 0;
  -webkit-box-shadow: inset 0px 0px 1px 1px #2D76B6;
  -moz-box-shadow: inset 0px 0px 1px 1px #2D76B6;
  box-shadow: inset 0px 0px 1px 1px #2D76B6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.zetta-menu > li.zm-content > div ul li a,
.zetta-menu > li.zm-content-full > div ul li a,
.zetta-menu > li.zm-content > div ul li a:visited,
.zetta-menu > li.zm-content-full > div ul li a:visited {
  text-align: center;
  padding: 15px 0;
  line-height: 1;
  color: #ffffff;
}
.zetta-menu > li.zm-content > div ul li:hover,
.zetta-menu > li.zm-content-full > div ul li:hover {
  background-color: transparent;
}
.zetta-menu > li.zm-content > div ul li:hover a,
.zetta-menu > li.zm-content-full > div ul li:hover a,
.zetta-menu > li.zm-content > div ul li:hover a:visited,
.zetta-menu > li.zm-content-full > div ul li:hover a:visited {
  color: #9fbcc2;
  text-decoration: underline;
}
.zetta-menu > li.zm-content > div img,
.zetta-menu > li.zm-content-full > div img {
  width: 100%;
  margin: 15px 0;
}
.zetta-menu > li.zm-content > div .zm-video,
.zetta-menu > li.zm-content-full > div .zm-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin: 15px 0;
  overflow: hidden;
}
.zetta-menu > li.zm-content > div .zm-video > iframe,
.zetta-menu > li.zm-content-full > div .zm-video > iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.zetta-menu > li.zm-content > div input,
.zetta-menu > li.zm-content-full > div input,
.zetta-menu > li.zm-content > div textarea,
.zetta-menu > li.zm-content-full > div textarea {
  width: 100%;
  margin-top: 10px;
  font: inherit;
  resize: none;
  padding: 15px;
  background-color: #2D76B6;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 0px 1px transparent;
  -moz-box-shadow: inset 0px 0px 0px 1px transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
}
.zetta-menu > li.zm-content > div input:hover,
.zetta-menu > li.zm-content-full > div input:hover,
.zetta-menu > li.zm-content > div textarea:hover,
.zetta-menu > li.zm-content-full > div textarea:hover {
  background-color: #2D76B6;
  -webkit-box-shadow: inset 0px 0px 0px 1px #9fbcc2;
  -moz-box-shadow: inset 0px 0px 0px 1px #9fbcc2;
  box-shadow: inset 0px 0px 0px 1px #9fbcc2;
}
.zetta-menu > li.zm-content > div input.zm-button,
.zetta-menu > li.zm-content-full > div input.zm-button,
.zetta-menu > li.zm-content > div .zm-button,
.zetta-menu > li.zm-content-full > div .zm-button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-weight: normal;
  background-color: #9fbcc2;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
}
.zetta-menu > li.zm-content > div input.zm-button:hover,
.zetta-menu > li.zm-content-full > div input.zm-button:hover,
.zetta-menu > li.zm-content > div .zm-button:hover,
.zetta-menu > li.zm-content-full > div .zm-button:hover {
  color: #20598B;
}
.zetta-menu > li.zm-content:hover > div,
.zetta-menu > li.zm-content-full:hover > div {
  display: block;
}
.zetta-menu > li.zm-content > div,
.zetta-menu > li.zm-content-full > div {
  top: 100%;
}
.zetta-menu.zm-position-bottom > li.zm-content > div,
.zetta-menu.zm-position-bottom > li.zm-content-full > div {
  top: auto;
  bottom: 100%;
}
.zetta-menu.zm-position-left > li.zm-content > div,
.zetta-menu.zm-position-left > li.zm-content-full > div {
  top: 0;
  left: 100%;
}
.zetta-menu.zm-position-right > li.zm-content > div,
.zetta-menu.zm-position-right > li.zm-content-full > div {
  top: 0;
  right: 100%;
  left: auto;
}
.zetta-menu > li.zm-content.zm-right-align > div,
.zetta-menu > li.zm-content-full.zm-right-align > div {
  left: auto;
  right: 0;
}
.zetta-menu.zm-position-left > li.zm-content.zm-right-align > div,
.zetta-menu.zm-position-left > li.zm-content-full.zm-right-align > div {
  left: 100%;
  right: auto;
}
/*

====================== GRID SYSTEM ======================

*/
.zetta-menu .zm-row {
  display: block;
}
.zetta-menu .zm-row .zm-col {
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px;
  vertical-align: top;
  float: left;
}
.zetta-menu .zm-row .zm-col > .zm-grid-wrapper {
  padding: 15px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #2D76B6;
  color: #9fbcc2;
  -webkit-box-shadow: inset 0px 0px 1px 1px #2D76B6;
  -moz-box-shadow: inset 0px 0px 1px 1px #2D76B6;
  box-shadow: inset 0px 0px 1px 1px #2D76B6;
}
.zetta-menu .zm-row .zm-col.c-12 {
  width: 100%;
}
.zetta-menu .zm-row .zm-col.c-11 {
  width: 91.66666666666667%;
}
.zetta-menu .zm-row .zm-col.c-10 {
  width: 83.33333333333334%;
}
.zetta-menu .zm-row .zm-col.c-9 {
  width: 75%;
}
.zetta-menu .zm-row .zm-col.c-8 {
  width: 66.66666666666667%;
}
.zetta-menu .zm-row .zm-col.c-7 {
  width: 58.333333333333336%;
}
.zetta-menu .zm-row .zm-col.c-6 {
  width: 50%;
}
.zetta-menu .zm-row .zm-col.c-5 {
  width: 41.66666666666667%;
}
.zetta-menu .zm-row .zm-col.c-4 {
  width: 33.333333333333336%;
}
.zetta-menu .zm-row .zm-col.c-3 {
  width: 25%;
}
.zetta-menu .zm-row .zm-col.c-2 {
  width: 16.666666666666668%;
}
.zetta-menu .zm-row .zm-col.c-1 {
  width: 8.333333333333334%;
}
/*

====================== SEARCH PLACE ======================

*/
.zetta-menu .zm-search {
  position: relative;
  overflow: hidden;
}
.zetta-menu .zm-search form > label {
  position: absolute;
  cursor: text;
  left: 0;
  top: 0;
  padding: 0 20px;
  line-height: 50px;
}
.zetta-menu .zm-search input {
  height: 50px;
  padding: 0 27.5px;
  font-size: inherit;
  -webkit-appearance: none;
  width: 0;
  opacity: 0.01;
  color: #20598B;
}
.zetta-menu .zm-search input:focus {
  width: 150px;
  opacity: 1;
}
.zetta-menu .zm-search input:focus + label {
  display: none;
}
.zetta-menu .zm-search input:focus,
.zetta-menu .zm-search input:hover {
  background-color: #9fbcc2;
  color: #20598B;
}
.zetta-menu .zm-search:hover {
  background-color: #9fbcc2;
  color: #20598B;
}
.zetta-menu.zm-position-right .zm-search,
.zetta-menu.zm-position-left .zm-search {
  float: none;
}
.zetta-menu.zm-position-right .zm-search input,
.zetta-menu.zm-position-left .zm-search input {
  width: 100%;
}
/* ====================== MAIN ROUNDED CORNERS ====================== */
.zetta-menu {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
/* ====================== DROP ROUNDED CORNERS ====================== */
.zetta-menu > li > ul,
.zetta-menu > li > ul ul,
.zetta-menu > li > div,
.zetta-menu .zm-multi-column > ul ul {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
/* ====================== DROP MARGIN ====================== */
.zetta-menu > li > ul,
.zetta-menu > li > div {
  margin-top: 6px;
}
.zetta-menu > li > ul:after,
.zetta-menu > li > div:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 6px;
  top: -6px;
  left: 0;
}
.zetta-menu > li > ul li > ul,
.zetta-menu > li > div li > ul {
  margin-left: 6px;
}
.zetta-menu > li > ul li > ul:after,
.zetta-menu > li > div li > ul:after,
.zetta-menu > li > ul li > ul.zm-drop-left:after,
.zetta-menu > li > div li > ul.zm-drop-left:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  top: 0;
  left: -6px;
}
.zetta-menu > li > ul li > ul.zm-drop-left,
.zetta-menu > li > div li > ul.zm-drop-left {
  margin-left: auto;
  margin-right: 6px;
}
.zetta-menu > li > ul li > ul.zm-drop-left:after,
.zetta-menu > li > div li > ul.zm-drop-left:after {
  right: -6px;
  left: auto;
}
.zetta-menu.zm-position-bottom > li > ul,
.zetta-menu.zm-position-bottom > li > div {
  margin-top: 0;
  margin-bottom: 6px;
}
.zetta-menu.zm-position-bottom > li > ul:after,
.zetta-menu.zm-position-bottom > li > div:after {
  height: 6px;
  top: auto;
  bottom: -6px;
  left: 0;
}
.zetta-menu.zm-position-left > li > ul,
.zetta-menu.zm-position-left > li > div,
.zetta-menu.zm-position-left > li > ul.zm-drop-left,
.zetta-menu.zm-position-left > li > div.zm-drop-left {
  margin-left: 6px;
}
.zetta-menu.zm-position-left > li > ul:after,
.zetta-menu.zm-position-left > li > div:after,
.zetta-menu.zm-position-left > li > ul.zm-drop-left,
.zetta-menu.zm-position-left > li > div.zm-drop-left {
  width: 6px;
  height: 100%;
  top: 0;
  left: -6px;
  bottom: auto;
}
.zetta-menu.zm-position-right > li > ul,
.zetta-menu.zm-position-right > li > div {
  margin-left: 0;
  margin-right: 6px;
}
.zetta-menu.zm-position-right > li > ul:after,
.zetta-menu.zm-position-right > li > div:after {
  width: 6px;
  height: 100%;
  top: 0;
  right: -6px;
  left: auto;
  bottom: auto;
}
.zetta-menu.zm-position-right > li > ul ul li > ul,
.zetta-menu.zm-position-right > li > div ul li > ul {
  margin-left: 0;
  margin-right: 6px;
}
.zetta-menu.zm-position-right > li > ul ul li > ul:after,
.zetta-menu.zm-position-right > li > div ul li > ul:after {
  width: 6px;
  height: 100%;
  top: 0;
  right: -6px;
  left: auto;
  bottom: auto;
}
/* ====================== ARROWS ====================== */
.zetta-menu > li > ul:before,
.zetta-menu > li > .zm-multi-column:before,
.zetta-menu > .zm-content > div:before {
  content: '';
  position: absolute;
  left: 23px;
  top: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #2D76B6;
}
.zetta-menu > li > ul li > ul:before,
.zetta-menu > li > .zm-multi-column li > ul:before,
.zetta-menu > .zm-content > div li > ul:before {
  content: '';
  position: absolute;
  left: -5px;
  top: 23px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #2D76B6;
}
.zetta-menu > li > ul li > ul.zm-drop-left:before,
.zetta-menu > li > .zm-multi-column li > ul.zm-drop-left:before,
.zetta-menu > .zm-content > div li > ul.zm-drop-left:before {
  left: auto;
  right: -5px;
  border-left: 5px solid #2D76B6;
  border-right: none;
}
.zetta-menu > li.zm-right-align > ul:before,
.zetta-menu > li.zm-right-align > .zm-multi-column:before,
.zetta-menu > li.zm-right-align.zm-content > div:before {
  left: auto;
  right: 23px;
}
.zetta-menu.zm-position-bottom > li > ul:before,
.zetta-menu.zm-position-bottom > li > .zm-multi-column:before,
.zetta-menu.zm-position-bottom > .zm-content > div:before {
  top: auto;
  bottom: -5px;
  border-bottom: none;
  border-top: 5px solid #2D76B6;
}
.zetta-menu.zm-position-bottom > li > ul li > ul:before,
.zetta-menu.zm-position-bottom > li > .zm-multi-column li > ul:before,
.zetta-menu.zm-position-bottom > .zm-content > div li > ul:before {
  top: auto;
  bottom: 23px;
}
.zetta-menu.zm-position-left > li > ul:before,
.zetta-menu.zm-position-left > li > .zm-multi-column:before,
.zetta-menu.zm-position-left > .zm-content > div:before {
  top: 23px;
  left: -5px;
  border-left: none;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #2D76B6;
}
.zetta-menu.zm-position-right > li > ul:before,
.zetta-menu.zm-position-right > li > .zm-multi-column:before,
.zetta-menu.zm-position-right > .zm-content > div:before,
.zetta-menu.zm-position-right > li > ul li > ul:before,
.zetta-menu.zm-position-right > li > .zm-multi-column li > ul:before,
.zetta-menu.zm-position-right > .zm-content > div li > ul:before {
  top: 23px;
  right: -5px;
  left: auto;
  border-right: none;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #2D76B6;
}
/*

====================== RESPONSIVE ======================

*/
@media screen and (max-width: 768px) {
  /* ====================== MAIN ====================== */
  .zetta-menu[class*='zm-response'] > li {
    position: relative;
  }
  .zetta-menu[class*='zm-response'] > li > ul,
  .zetta-menu[class*='zm-response'] > li > div.zm-multi-column > ul,
  .zetta-menu[class*='zm-response'] > li > ul ul,
  .zetta-menu[class*='zm-response'] > li > div.zm-multi-column > ul ul {
    left: 0;
    right: 0;
    width: auto !important;
    margin-right: 0;
  }
  .zetta-menu[class*='zm-response'] > li > ul ul,
  .zetta-menu[class*='zm-response'] > li > div.zm-multi-column > ul ul {
    top: 100%;
    margin-left: 50px !important;
  }
  .zetta-menu[class*='zm-response'].zm-position-bottom > li > ul ul,
  .zetta-menu[class*='zm-response'].zm-position-bottom > li > div.zm-multi-column > ul ul,
  .zetta-menu[class*='zm-response'].zm-position-bottom > li > ul ul.zm-drop-left,
  .zetta-menu[class*='zm-response'].zm-position-bottom > li > div.zm-multi-column > ul ul.zm-drop-left {
    left: 0;
    top: auto;
    bottom: 100%;
  }
  .zetta-menu[class*='zm-response'].zm-position-left > li > ul,
  .zetta-menu[class*='zm-response'].zm-position-left > li > div.zm-multi-column > ul,
  .zetta-menu[class*='zm-response'].zm-position-right > li > ul,
  .zetta-menu[class*='zm-response'].zm-position-right > li > div.zm-multi-column > ul {
    top: 100%;
    left: 0;
    right: 0;
  }
  .zetta-menu[class*='zm-response'].zm-position-left > li > ul ul,
  .zetta-menu[class*='zm-response'].zm-position-left > li > div.zm-multi-column > ul ul,
  .zetta-menu[class*='zm-response'].zm-position-right > li > ul ul,
  .zetta-menu[class*='zm-response'].zm-position-right > li > div.zm-multi-column > ul ul,
  .zetta-menu[class*='zm-response'].zm-position-left > li > ul ul.zm-drop-left,
  .zetta-menu[class*='zm-response'].zm-position-left > li > div.zm-multi-column > ul ul.zm-drop-left,
  .zetta-menu[class*='zm-response'].zm-position-right > li > ul ul.zm-drop-left,
  .zetta-menu[class*='zm-response'].zm-position-right > li > div.zm-multi-column > ul ul.zm-drop-left {
    left: 0;
    right: 0;
    top: 100%;
  }
  .zetta-menu[class*='zm-response'].zm-position-left > li.zm-content > div,
  .zetta-menu[class*='zm-response'].zm-position-left > li.zm-content-full > div,
  .zetta-menu[class*='zm-response'].zm-position-right > li.zm-content > div,
  .zetta-menu[class*='zm-response'].zm-position-right > li.zm-content-full > div {
    top: 100%;
    left: 0;
    right: 0;
  }
  .zetta-menu[class*='zm-response'] li > div {
    top: 100%;
    left: 0 !important;
    right: 0;
    width: auto !important;
  }
  .zetta-menu[class*='zm-response'] li > div.zm-multi-column > ul {
    width: 100% !important;
  }
  .zetta-menu[class*='zm-response'] .zm-row .zm-col {
    display: block;
    margin-right: 0;
    width: 100% !important;
    float: none;
  }
  /* ====================== SIMPLE ====================== */
  .zetta-menu.zm-response-simple > li {
    position: static;
  }
  .zetta-menu.zm-response-simple > li > a {
    font-size: 0;
  }
  .zetta-menu.zm-response-simple > li > a i {
    letter-spacing: 0;
  }
  .zetta-menu.zm-response-simple > li > a .zm-caret {
    display: none;
  }
  .zetta-menu.zm-response-simple > li.zm-logo {
    display: none;
  }
  .zetta-menu.zm-response-simple > li.zm-search {
    position: relative;
  }
  /* ====================== STACK ====================== */
  .zetta-menu.zm-response-stack > li {
    display: block;
    float: none;
  }
  .zetta-menu.zm-response-stack > li.zm-content-full {
    position: relative;
  }
  .zetta-menu.zm-response-stack > li.zm-logo {
    text-align: center;
  }
  .zetta-menu.zm-response-stack > li.zm-logo img {
    position: relative;
  }
  .zetta-menu.zm-response-stack > li.zm-logo,
  .zetta-menu.zm-response-stack > li.zm-right-item {
    position: relative;
    width: 100%;
  }
  .zetta-menu.zm-response-stack > li > a .zm-caret {
    float: right;
  }
  .zetta-menu.zm-response-stack .zm-search {
    float: none;
  }
  .zetta-menu.zm-response-stack .zm-search input {
    width: 100%;
  }
  /* ====================== SWITCH ====================== */
  .zetta-menu.zm-response-switch > li {
    display: none;
    float: none;
    position: relative;
    width: 100%;
  }
  .zetta-menu.zm-response-switch > li.zm-logo {
    display: block;
  }
  .zetta-menu.zm-response-switch > li.zm-logo img {
    position: relative;
    z-index: 1;
  }
  .zetta-menu.zm-response-switch:before {
    font-family: FontAwesome;
    content: '\f0c9';
    position: relative;
    float: right;
    cursor: pointer;
    line-height: 50px;
    height: 50px;
    padding: 0 20px;
    z-index: 2;
  }
  .zetta-menu.zm-response-switch:hover:before {
    opacity: 0;
  }
  .zetta-menu.zm-response-switch:hover > li {
    display: block;
  }
  .zetta-menu.zm-response-switch > li > a .zm-caret {
    float: right;
  }
  .zetta-menu.zm-response-switch .zm-search {
    float: none;
  }
  .zetta-menu.zm-response-switch .zm-search input {
    width: 100%;
  }
  /* ====================== RESPONSE MARGIN ====================== */
  .zetta-menu.zm-response-margin > li > ul,
  .zetta-menu.zm-response-margin li > div {
    margin-left: 50px !important;
  }
}
