﻿@Code
    ViewData("AppNode") = "NoPermission"
    Layout = "~/Views/Shared/_ErrorLayout.vbhtml"
End Code

<h2>NoPermission</h2>


<div>
    <label> No posees permisos necesarios para realizar esta acción. </label>
</div>
