﻿@Code
    Layout = "~/Views/Shared/_ErrorLayout.vbhtml"
End Code

<h2>Conflicto en Base de datos</h2>

Se ha encontrado un conclicto en la base de datos.
<br />
Por favor, ponerse en contacto con el equipo de Pockture Ltda.