﻿html, body
{
    height: 85%;
}
body {
    width:100%;
    background-color: #E8E8E8;
    margin: 0;
    padding: 0;
    font-family: "Arial", Times, serif;
}
input {
    font-size:15px;
}
textarea {
    font-size:15px;
}
select {
    font-size:15px;
}
header {
    height:110px;
    /*background-color: #4B6C9E;*/
    background-color: #2D76B6;
    color: white;
}
footer {
    text-align: center;
    /*background-color: #4B6C9E;*/
    background-color: #2D76B6;
    color:white;
}
/* --------------------------------------------UPPER ----*/
#div_appLogo {
    float:left;
    margin-top:20px;
    margin-left:60px;
}
#img_appLogo {
    height:80px;
}
#img_companyLogo {
    height:70px;
}
#div_loginData {
    float:right;
    margin-top:5px;
    margin-right:5px;
}
#div_companyLogo {
    margin-top:30px;
    text-align:right;
    margin-right:30px;
}
#al_logout {
    color: lightgray;
}
/* -------------------------------------------------- */
#div_body {
    background-color: white;
    height:100%;
}
#section_pages {
    position:relative;
    padding-left:40px;
    padding-right:40px;
    padding-top:1px;
    padding-bottom:1px;
}
#div_appNodeContainer
{
    padding-top: 10px;
    margin-left: -25px;
    color: gray;
    font-weight:bold;
}
#div_resultMessage
{
    width:0 auto;    
    height:30px;
    margin:auto;
    display:table;
}
#div_upperButtonsContainer
{
    position:absolute;
    right:0px;
    top:0px;
    padding-top:30px;
    padding-right:30px;
    z-index:2;
}
#div_renderBody {
    margin-bottom:70px;
}


.body-container-size {
    display:table;
    width:90%;
	margin:auto;
}
/* menu ----------------------------------------------------------*/

#div_menu {
    background-color:#20598B;
    /*background-color:#354A5F;*/
    /*background-image: linear-gradient(#03A5E5, #018AC0);*/
    /*box-shadow: 0 2px 1px #9c9c9c;*/
}#ul_menu {
     float:right;
     position:relative;
}

.span_requiredIcon
{
    color:red;
    font-weight:bold;
}
.lbl_blackText
{
    color:black;
    padding-left: 0px;
    padding-bottom:0px;
}

/*--------- Estos estilos que dicen Valid hacen funcionar los ValidMessages ----------
.field-validation-valid
{
    display: none;
}
.validation-summary-valid
{
    display: none;
}
    */
.lbl_commonResult
{
    text-align:center;
    font-size:20px;
    font-weight:bold;
    color: darkblue;
}