﻿body {
    background-color: #D9E7F2;
    text-align:center;
    font-family: "Arial", Times, serif;
}
#div_logo {
	margin:100px auto;
}
#img_logo {
    width:400px;
}
#div_loginContainer {
    margin:auto;
    margin-top:-40px;
    text-align:center;
    background-color:white; 
    height:300px;
    width:450px;
    padding-top:20px;
}

#lbl_incorrectLogin {
    color:red;
    margin-top:10px;
    margin-bottom:10px;
}

#form_login {
    height:1px;
    display:table;
    margin:auto;
    text-align:center;
}
#form_login td {
    text-align:center;
    margin:auto;
}
#form_login table {
    text-align:center;
}

.td_items_textboxes{
    height:65px;
}
.td_items_checkbox{
    height:40px;
}
.lbl_fieldValidator {
    color:red;
}
.TextBoxes {    
    height:28px;
    width:200px;
    margin-top:5px;
    text-align:center;    
}
.btn_common
{
    background-color: #0098CF;
    color:white;
}