﻿
.table_common
{
    text-align:center;
    border: 1px solid gray;
}
.table_common_marginTop
{
    margin-top:40px;
}
.td_commonHeader_forCommonTable
{
    background-color: #B8CCE4;
    text-align:center;
    font-weight:bold;
    height:30px;
}
.td_row_forCommonTable
{
    border:1px solid #B8CCE4;
    height:30px;
    padding-left:5px;
}
.td_rowColor_forCommonTable_1
{
    background-color: #FFFFFF;
}
.td_rowColor_forCommonTable_2
{
    background-color: #DCE6F1;
}
.td_controls_forCommonTable
{
    width:35px;
}
.btn_common
{
    color:white;
    height:30px;
    font-size:14px;
    cursor:pointer;
}
.btn_common_color1
{
    background-color: #0098CF;
}
.btn_common_color2
{
    background-color: #346CA1;
}
.btn_common_color3
{
    background-color: lightgreen;
    color:black;
}
.btn_common_color_delete
{
    background-color: lightcoral;
}
.btn_common_size1
{
    width:70px;
}
.btn_common_size2
{
    width:110px;
}
.btn_common_size3
{
    width:150px;
}

.img_magnifyIcon
{
    background: url('../Images/Sites/Icons/magnify_icon_40.png') no-repeat;    
    background-size: 27px;

    width:7px;
    margin-bottom:-5px;

    padding:15px;
}
.img_editIcon
{
    background: url('../Images/Sites/Icons/edit_icon_40.png') no-repeat;    
    background-size: 21px;
    
    width:0px;
    height:0px;

    padding:10px;
    margin-top:4px;
}
.img_item_editIcon
{
    background: url('../Images/Sites/Icons/edit2_icon_40.png') no-repeat;    
    background-size: 20px;
    
    width:0px;
    height:0px;

    padding:10px;
    margin-top:4px;
}
.img_item_deleteIcon
{
    background: url('../Images/Sites/Icons/delete_icon_40.png') no-repeat;    
    background-size: 15px;
    
    width:0px;
    height:0px;

    padding:10px;
    margin-top:4px;
}
.img_downloadDocumentIcon
{
    background: url('../Images/Sites/Icons/download_icon_40.png') no-repeat;    
    background-size: 20px;
    
    width:0px;
    height:0px;

    padding:10px;
    margin-top:4px;
}
.img_downloadDocument
{
    border:1px solid red;
    background: url('../Images/Sites/download_icon_200.png') no-repeat;    
    background-size:20px;
    
    width:0px;
    height:0px;

    padding:10px;
    margin-top:4px;
}
.img_goIcon
{
    background: url('../Images/Sites/Icons/go_icon_40.png') no-repeat;    
    background-size: 20px;
    
    width:0px;
    height:0px;

    margin-bottom:-5px;

    padding:10px;
}
.img_plusIcon
{
    background: url('../Images/Sites/Icons/plus_icon_40.png') no-repeat;    
    background-size: 27px;

    width:7px;
    margin-bottom:-5px;

    padding:15px;
}
.img_okIcon {
    background: url('../Images/Sites/Icons/ok_icon_40.png') no-repeat;    
    background-size: 27px;

    width:7px;
    margin-bottom:-5px;

    padding:15px;
}
.img_cancelIcon {
    background: url('../Images/Sites/Icons/cancel_icon_40.png') no-repeat;    
    background-size: 27px;

    width:7px;
    margin-bottom:-5px;

    padding:15px;
}

.img_statusIcon {
    width: 15px;
}
.img_waybill_editIcon
{
    background: url('../Images/Sites/Icons/edit3_icon_40.png') no-repeat;     
    background-size: 25px;
    
    width:0px;
    height:0px;

    padding:15px;
    margin-top:0px;
}
.img_waybill_deleteIcon
{
    background: url('../Images/Sites/Icons/delete_icon_40.png') no-repeat;    
    background-size: 25px;
    
    width:0px;
    height:0px;

    padding:15px;
    margin-top:0px;
}
.img_invoice_editIcon
{
    background: url('../Images/Sites/Icons/edit3_icon_40.png') no-repeat;     
    background-size: 25px;
    
    width:0px;
    height:0px;

    padding:15px;
    margin-top:0px;
}
.img_invoice_deleteIcon
{
    background: url('../Images/Sites/Icons/delete_icon_40.png') no-repeat;    
    background-size: 25px;
    
    width:0px;
    height:0px;

    padding:15px;
    margin-top:0px;
}

.img_invoice_trueIcon
{
    background: url('../Images/Sites/Icons/true_icon_40.png') no-repeat;     
    background-size: 25px;
    
    width:0px;
    height:0px;

    padding:15px;
    margin-top:0px;
}
.img_invoice_falseIcon
{
    background: url('../Images/Sites/Icons/false_icon_40.png') no-repeat;     
    background-size: 25px;
    
    width:0px;
    height:0px;

    padding:15px;
    margin-top:0px;
}
/*-------------------------------------------------------------------------------------------*/
.div_fieldDescription
{
    padding-top:14px;
    padding-bottom:5px;
}
.div_commonButtonContainer
{
    margin: 0 auto;
    width:400px;
}
.align_center
{
    margin: 0 auto;
}
#div_formContainer
{
    border:1px solid gray;
    margin: 0 auto;
    padding:70px;
    padding-top:40px;
    padding-bottom:50px;
}
.div_formItem
{        
    text-align:center;
    width:100%;
    display:table;
    margin: 0 auto;
}
#div_mainButtonsContainer
{
    text-align:center;
    margin-left:-50px;
    margin-right:-50px;
}

div.ui-datepicker {
    font-size: 80.5%;    
}

/*Esta clase permite eliminar el botón X del dialogo jquery 
    que aparece al trata de eliminar un item.*/
.noclose .ui-dialog-titlebar-close
{
    display:none;
}
/*-----------------------------------------------------*/

.ui-dialog-titlebar-close {
  visibility: hidden;
}