﻿.webGrid_table {
    text-align: center;
    border: 1px solid gray;
    border-collapse:collapse;
}
.webGrid_header { 
    color: #000000;
    background-color: #B8CCE4;
    text-align:center;
    height:35px;
}
.webGrid_header a { 
    color: #000000;
    text-decoration:none;
}
.webGrid_table td, .webGrid_table td { 
    border:1px solid #B8CCE4;
    height:27px;    
    padding-left:5px;
    padding-right:5px;
}
.webGrid_alternating_row { 
    background-color: #DCE6F1;
}
.webGrid_footer {
    text-align:left;
    background-color: #B8CCE4;
    font-size:16px;
    font-weight:bold;
}
.webGrid_footer td {
    padding-left:20px;
}
.webGrid_footer a { 
    color: blue;
    padding-left:10px;
    padding-right:10px;
    text-decoration:none;
}
.webGrid_col_document {
    width:30px;
}

.webGrid_col_controls {
    width:30px;
}