﻿ 
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    GENERAL    >>>>>><*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><*/
    #div_createdInfo {
        font-style:italic;
        color:darkblue;
        position:absolute;
        right:1%;
        top:1%;
    }

    #div_tabs {
        background-color:#F4F4F4;
        font-size:16px;
    }

    #div_tabs input {
        font-size:15px;
        font-family: "Arial", Times, serif;
    }
    #div_tabs textarea {
        font-size:15px;
        font-family: "Arial", Times, serif;
    }
    #div_tabs select {
        font-size:15px;
        font-family: "Arial", Times, serif;
    }
    
    #td_leftSide {
        width:40%;
        vertical-align:top;
    }
    #td_rightSide {
        width:60%;
    }


    .tab_title {
    }
    .tab_body {
        font-family: "Arial", Times, serif;
    }
    .td_woDetails_1rst {
        width:50%;
        height:26px;
    }

    .td_woDetails_3rd {
        width:50%;
        text-align:center;
    }

    #table_woMaterials {
        width:400px;
    }
    .td_woMaterials_1rst {
        height:20px;
    }
    .td_woMaterials_3rd {
        text-align:center;
    }




    /* ------------------------------------------------------------ITEMS- */
        
    #table_woDetails {
        width:90%;
    }

    #table_items_itemList {
        background-color:white;
        border:1px solid gray;
        margin:auto;
        width:90%;
    }

    .tr_item_rows {
        height:25px;
    }
    .tr_items_itemList_title {
        background-color: #DCE6F1;
        text-align:center;
        height:30px;
    }
    .td_itemList_title_itemNum {
        width:7%;
        font-weight:bold;
    }
    .td_itemList_title_description {
        font-weight:bold;
    }
    .td_itemList_title_quantity {
        width: 15%;
        font-weight:bold;
    }
    
    
    .td_woDetails_itemList_itemNum {
        text-align:center;
        vertical-align:top;
    }
    .td_woDetails_itemList_description {
        text-align:left;
        padding-left:5px;
        padding-right:5px;
    }
    .td_woDetails_itemList_quantity {
        text-align:center;
        vertical-align:top;
    }


    .td_woDetails_itemList_item_leftBorder {        
        border-left:solid 1px gray;
    }
    .td_woDetails_itemList_item_common {
        padding-bottom:10px;
        padding-left:5px;
        padding-right:5px;
    }
        
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><<<- */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    MATERIALS    ><>><<<- */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><<<- */



    #table_woMaterials_materials {
        margin:auto;
        width:90%;
    }

    .td_material_1rst {
        vertical-align:top;
        width:25%;
    }
    .td_material_3rd {
        padding-left:30px;
        text-align:left;
        vertical-align:top;
    }
    
    #table_woMaterials_materialList {
        background-color:white;
        margin:auto;
        width:100%;
        border:1px solid gray;
    }
    .tr_material_rows {
        height:25px;
    }
    .tr_materialList_title {
        font-weight:bold;
        background-color: #DCE6F1;
        text-align:center;
        height:30px;
    }

    .td_materialList_title_materialNum {
        width:7%;
    }
    .td_materialList_title_material {
    }
    .td_materialList_title_quantity {
        width: 15%;
    }
    .td_materialList_title_netValue {
        width: 15%;
    }
    .td_materialList_title_controls {
        width: 10%;
    }

    
    .td_materialList_materialNum {
        text-align:center;
        vertical-align:top;
    }

    .td_materialList_description {
        text-align:left;
        padding-left:5px;
        padding-right:5px;
    }
    .td_materialList_quantity {
        text-align:center;
        vertical-align:top;
    }
    .td_materialList_netValue {
        text-align:right;
        vertical-align:top;
    }
    .td_materialList_controls {
        text-align:center;
        vertical-align:top;
    }


    .td_materialList_material_leftBorder {        
        border-left:solid 1px gray;
    }
    .td_materialList_material_common {
        padding-bottom:10px;
        padding-left:5px;
        padding-right:5px;
    }


    .td_materialList_totals_netRow {
        border-top:1px solid gray;
    }


    #tb_material_message {
        color: red;
    }

/* ---------------------------------------------------------------------- */


    #div_workAdd_buttonsContainer {
        text-align:right;
    }

    /*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><*/
    /*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    WAY BILL    ><<<<<>>>>>>>><*/
    /*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><*/

    #div_wayBillItems_wayBillList {
        width:80%;
        margin:auto;
    }
    .div_wayBillItems_wayBill {
        background-color:white;
    }
    .table_wayBillItems_items {
        background-color: white;
        width:100%;
        margin:auto;
    }
    
    .table_wayBillItem_wayBill_header {
        font-weight:bold;
        vertical-align:middle;
        height:30px;
        width:100%;
        background-color:#DCE6F1;
        border:1px solid black;
    }
    .td_wayBillItem_wayBill_title {    
        padding-left:60px;    
        width:80%;
        text-align:center;
    }
    .td_wayBillItem_wayBill_controls {
        padding-top:9px;
        text-align:right;
        width:20%;
    }
    .div_wayBillItem_wayBill_content {
        border-left:1px solid gray;
        border-right:1px solid gray;
        border-bottom:1px solid gray;
    }
    .table_wayBillItems_details {
        width:50%;
        margin:auto;
    }
    


    #table_wayBillItem_item {
        background-color:lightblue;
    }
    .td_wayBillItems_details_1rsCol {
        width:45%;
        height:20px;
        padding-left:15px;
        vertical-align:top;
    }
    .td_wayBillItems_details_3rdCol {
        width:45%;
        height:20px;
        padding-left:15px;
        vertical-align:top;
    }
    .td_wayBillItem_details_comment {
        vertical-align:top;
        height:30px;
    }

    .tr_wayBillItems_title {
        font-weight:bold;
        background-color: #DCE6F1;
        text-align:center;
        height:30px;
    }
    .td_wayBillItem_wayBill_item_title {
        width:85%;
    }
    .td_wayBillItem_wayBill_quantity_title {
        width:15%;
    }
    .td_wayBillItem_items_title {
        background-color:lightblue;
        text-align:center;
        height:25px;
    }

    #td_wayBillItems_1rstCol {
        width:90%;
    }
    .td_wayBillItems_2ndCol {
        vertical-align:top;
        text-align:center;
        padding-top:20px;
        width:10%;
    }
    
    .td_wayBillItems_items_description {
        padding-left:30px;
    }
    .td_wayBillItems_items_quantity {
        text-align:center;
        border-left:1px solid gray;
    }
    .td_wayBillItems_row {
        height:20px;
    }


    #div_wayBillForm {        
        font-size:14px;
    }
    #table_wayBillForm {
        margin:auto;
        width:350px;
    }
    #tb_wayBillForm_number {
        width:140px;
    }
    #tb_wayBillForm_date {
        width:120px;
        text-align:center;
    }
    #tb_wayBillForm_comment {
    }
    .table_wayBillForm_1rstCol {
        width: 40%;
        vertical-align:top;
    }
    .table_wayBillForm_2ndCol {
        width: 1%;
        text-align:center;
    }
    .table_wayBillForm_3rdCol {
        width: 60%;
        text-align:center;
    }
    
    /*---------------- WAY BILL FORM ITEMS------------*/
    #table_wayBillForm_items {
        width:100%;
        border: 1px solid lightgray;
    }
    #table_wayBillForm_items_items_title {
        width:70%;
        text-align:center;
    }
    #table_wayBillForm_items_quantity_title {
        width:20%;
        text-align:center;
    }
    #table_wayBillForm_items_controls_title {
        width:10%;
        text-align:center;
    }
    .table_wayBillForm_items_title {
        height:30px;
        background-color:lightblue;
    }
    .td_wayBillFormItemList_quantity {
        text-align:center;
    }
    .td_wayBillFormItemList_controls {
        text-align:center;
    }

        /*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><*/
    /*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    INVOICE    ><<<<<>>>>>>>><*/
    /*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><*/

    #div_invoiceItems_invoiceList {
        width:80%;
        margin:auto;
    }
    .div_invoiceItems_invoice {
        background-color:white;
    }
    .table_invoiceItems_items {
        background-color: white;
        width:100%;
        margin:auto;
    }
    
    .table_invoiceItem_invoice_header {
        font-weight:bold;
        vertical-align:middle;
        height:30px;
        width:100%;
        background-color:#DCE6F1;
        border:1px solid black;
    }
    .td_invoiceItem_invoice_title {    
        padding-left:60px;    
        width:80%;
        text-align:center;
    }
    .td_invoiceItem_invoice_controls {
        padding-top:9px;
        text-align:right;
        width:20%;
    }
    .div_invoiceItem_invoice_content {
        border-left:1px solid gray;
        border-right:1px solid gray;
        border-bottom:1px solid gray;
    }
    .table_invoiceItems_details {
        width:50%;
        margin:auto;
    }
    
    #table_invoiceItem_item {
        background-color:lightblue;
    }
    .td_invoiceItems_details_1rsCol {
        width:45%;
        height:20px;
        padding-left:15px;
        vertical-align:top;
    }
    .td_invoiceItems_details_3rdCol {
        width:45%;
        height:20px;
        padding-left:15px;
        vertical-align:top;
    }
    .td_invoiceItem_details_comment {
        vertical-align:top;
        height:30px;
    }
    .td_invoiceItem_details_isPaid {
        vertical-align:top;
        padding-left:40px;
    }
    
    .tr_invoiceItems_title {
        font-weight:bold;
        background-color: #DCE6F1;
        text-align:center;
        height:30px;
    }
    .td_invoiceItem_invoice_item_title {
        width:85%;
    }
    .td_invoiceItem_items_title {
        background-color:lightblue;
        text-align:center;
        height:25px;
    }

    #td_invoiceItems_1rstCol {
        width:90%;
    }
    .td_invoiceItems_2ndCol {
        vertical-align:top;
        text-align:center;
        padding-top:20px;
        width:10%;
    }
    
    .td_invoiceItems_items_wayBill {
        padding-left:30px;
    }
    .td_invoiceItems_row {
        height:20px;
    }


    #div_invoiceForm {        
        font-size:14px;
    }
    #table_invoiceForm {
        width:350px;
        margin:auto;
    }
    .table_invoiceForm {
        width:350px;
        margin:auto;
    }
    #tb_invoiceForm_number {
        width:140px;
    }
    #tb_invoiceForm_date {
        width:120px;
        text-align:center;
    }
    #tb_invoiceForm_comment {
    }
    .table_invoiceForm_1rstCol {
        width: 40%;
        height:20px;
        vertical-align:top;
    }
    .table_invoiceForm_2ndCol {
        width: 1%;
        text-align:center;
    }
    .table_invoiceForm_3rdCol {
        width: 60%;
        text-align:center;
    }
    
    /*---------------- INVOICE FORM WB NUMBERS FORM------------*/
    #table_invoiceForm_wbNumbers {
        width:70%;
        margin:auto;
        border: 1px solid lightgray;
    }
    #table_invoiceForm_wbNumbers_items_title {
        width:60%;
        text-align:center;
    }
    #table_invoiceForm_wbNumbers_controls_title {
        width:10%;
        text-align:center;
    }
    .table_invoiceForm_wbNumbers_title {
        height:30px;
        background-color:lightblue;
    }
    
    .td_invoiceFormWBNumberList_wayBillNumber {
        padding-left:30px;
    }
    .td_invoiceFormWBNumberList_controls {
        text-align:center;
    }